#--------OAuth2.0 Client Configuration---------
grant_type=authorization_code
grant_type_pwd=password
client_id_name=client_id
client_secret_name=client_secret
client_id_value=SampleClientId
client_id_value_pwd_mod=client_1
client_secret_value_pwd_mod=123456
client_secret_value=123456
redirect_uri_name=redirect_uri
access_token_uri=http://localhost:8089/v1/oauth/token
user_authorization_uri=http://localhost:8089/v1/oauth/authorize
user_info_uri=http://localhost:8089/v1/eomsSystemUser/me
#------------------------------------------------